<!-- imagenes y descripción -->
<div class="container-lg mw-75 shadow-lg bg-body rounded">
    <!-- row -->
    <div class="row">
        <!-- img bg -->
        <a href="#" class="img-fluid" style="
        background-image: url(/../../assets/img/marco-bianchetti-teclado-redimensionado.jpg);
        height: 400px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 45% 75%;
      ">
        </a>
        <!-- img bg -->
        <!-- img profile -->
        <div class="d-flex flex-column flex-md-row justify-content-md-start justify-content-center align-items-center">
            <a>
                <img src="/../../assets/img/imagen-profile.jpg" alt=""
                    style="width: 180px; margin-top: -7rem; margin-left: 2rem"
                    class="me-auto shadow-lg mb-2 bg-body rounded-circle" />
                <h3 class="ms-4 text-center fw-bold" id="nombre">{{persona.nombre}}  {{persona.apellido}}</h3>
            </a>
            <div class="col-9 mt-2 text-center text-md-start">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Acerca de mí</h3>
                    <button type="button" class="btn btn-link btn-rounded">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>
                <p class="text-break fs-5" style="max-width: 100%;">Descripcion</p>
            </div>
        </div>
    </div>
</div>
<!-- imagenes y descripción -->