<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" href="#">
                <img src="/../../assets/img/Logo - Argentina Programa - black.png" height="75" alt="AP Logo"
                    loading="lazy">
            </a>
            <!-- Toggle button -->
            <button class="navbar-toggler btn-outline-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="bi bi-justify"></i>
            </button>
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarButtonsExample">
                <!-- Left links -->
                <div class="d-flex align-items-center mb-2 mb-lg-0">
                    <h2 class="ms-3">Luz Mailen</h2>
                </div>
                <!-- Right links -->
                <div class="d-flex align-items-center">
                    <a class="btn btn-dark me-2" href="#" role="button"><i class="bi bi-github"></i></a>
                    <button type="button" class="btn btn-outline-primary px-3 me-2" data-bs-toggle="modal"
                        data-bs-target="#loginModal" (click)="login()" *ngIf="!isLogged">
                        Acceder
                    </button>
                    <button *ngIf="isLogged" type="button" class="btn btn-danger" (click)="onLogOut()">Cerrar
                        sesión</button>
                </div>
                <!-- Right links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
    </nav>
    <!-- Navbar -->
</header>