<div class="container-lg mw-75 shadow-lg bg-body rounded px-0">
    <div class="accordion" id="skillAccordion">
        <div class="card border border-light shadow-lg bg-body rounded">
            <div class="card-header ps-5 pe-0 d-flex align-items-center justify-content-between">
                <h5 class="card-title mb-0">Hard and Skills</h5>
                <div class=pe-3>
                    <button class="btn btn-link btn-rounded me-auto"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="btn btn-link btn-rounded ms-auto" data-bs-toggle="collapse"
                        data-bs-target="#skillCollapse1" aria-expanded="true" aria-controls="skillCollapse1"><i
                            class="bi bi-justify"></i></button>
                </div>
            </div>
            <div id="skillCollapse1" class="collapse show" aria-labelledby="skillAccordion"
                data-bs-parent="#skillAccordion">
                <div class="card-body" style="padding-top: 0px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="card-title mb-0">Resolución de problemas</h6>
                                <div>
                                    <button type="button" class="btn btn-link btn-rounded">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-link btn-rounded">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 75%">
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="card-title mb-0">Diseño de Sistemas</h6>
                                <div>
                                    <button type="button" class="btn btn-link btn-rounded">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-link btn-rounded">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                    role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>